.container{
    padding: 1.25rem;
    margin: 0 auto;
    max-width: 60rem;
}
.title{
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.container_form{
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.container_grid{
    grid-column: span 2 / span 2;
}
.form{
    overflow: hidden;
    padding: 1.5rem;
}
.grid_form{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
}
.col_3_6{
    grid-column: span 6 / span 6;
}
.label{
    font-weight: 700;
    font-size: 0.875rem;
}
.ipt{
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}
.btn_Create{
    background-color: #f1e4ff;
    color: #8c30f5;
    width: 6.25rem;
    height: 2.5rem;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
/* md */
@media (min-width: 768px) {
    .col_3_6{
        grid-column: span 3 / span 3;
    }
  }