.container{
    padding: 1.25rem;
    margin: 0 auto;
    max-width: 60rem;
}
.divipt{
    width: 280px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin-top: 5px;
}
.divipt > button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.label{
    font-weight: 700;
    font-size: 0.875rem;
}
.ipt{
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: none;
    background-color: white;
    padding: 0.2rem;
}
.ipt:focus{
    outline: none;
}
.icon{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}
.title{
    font-weight: 800;
    font-size: 1.35rem;
    letter-spacing: 1px;
}
.section_table{
    margin-top: 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.container_table{
    padding: 1.25rem;
    overflow-x: scroll;
}
table{
    table-layout: auto;
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 0.35rem;
    text-align: left;
    box-sizing: content-box;
    border-spacing: 0;
    margin-top: 0.5rem;
}
th{
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
}
td{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    border-top: 1px outset #E5E7EB;
}
.td_accion{
    display: flex;
}
.td_accion > button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }